frontend/node_modules/

npm-debug.log*

yarn-error.log*

backend/venv/

__pycache__/
/backend/__pycache__/
/backend/cleaner/__pycache__/
/backend/utils/__pycache__/ 

backend/__pycache__/
backend/cleaner/__pycache__/
backend/utils/__pycache__/ 

*.pyc

.DS_Store
.env
*.log

debug_page.html
backend/debug_page.html
/backend/debug_page.html

